* {
  margin: 0;
  padding: 0;
}

:root {
  --main: #1190CD;
  --hover: #cfebf7;
  --gray: rgb(129, 129, 129);
}

header {
  color: #fff;
  background-color: var(--main);
  width: 100%;

}

h1 a img {
  width: 150px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
  gap: 25px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}


nav ul li {
  list-style-type: none;
  padding: 18px 8px;
}

nav ul li:hover {
  background-color: #279acf;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.links-right,
.links-left {
  display: flex;
  gap: 25px;
  margin: 0;
}


main {
  margin-top: 1.5em;
  padding: 0 6em;
}

.breadcrumbs span {
  color: var(--gray);
  font-size: 8px;
  margin: 0 5px;
}

.divider {
  visibility: hidden;
}

.breadcrumbs a {
  color: var(--gray);
  font-size: 14px;
}

.breadcrumbs a:hover {
  color: var(--main);
  text-decoration: none;
}

.page-wrapper {
  display: flex;
  gap: 40px;
  width: 100%;
}

.search {
  width: 300px;
  background-color: #FDD685;
  border: 1px solid #ffc757;
  border-radius: 4px;
  padding: 16px;
  margin-top: 1em;
  color: #74623D;
}

form {
  display: flex;
  flex-direction: column;
  color: #74623D;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

input:focus {
  outline: 2px solid var(--main);
}

input,
.mock-input {
  border: none;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
}

.search p,
.search span {
  font-size: 14px;
  margin: 0;
  padding: 15px 0;
}

.name-delete {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}

h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0;
}

/* slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(73, 73, 73, 0.171);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  color: #313131;
  gap: 10px;
}

.slider-wrapper p {
  font-size: 14px;
}

.mock-input {
  background-color: #fff;
  color: rgb(117, 117, 117);
  display: flex;
  padding: 10px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  cursor: text
}

.mock-input p,
.mock-input span {
  padding: 0;
  margin: 0;
}

.mock-input span {
  font-size: 18px;
}

.prices,
.quantity {
  display: flex;
  justify-content: space-between;
}

.prices div .mock-input {
  width: 120px;
}

.room-qt,
.prices {
  margin-top: 15px;
}

.quantity span {
  background-color: #fff;
  padding: 5px 13px;
  border-radius: 30px;
  cursor: pointer;
}

.main-section {
  margin: 30px 2em 0 0;
  width: 100%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0eded;
  height: 50px;
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.categories h5 {
  text-transform: uppercase;
  color: var(--main);
  font-size: 14px;
  padding: 15px;
  margin: 0;
}

.categories h5:hover {
  background-color: var(--hover);
}

.categories h5:first-of-type {
  border-bottom: 4px solid var(--main);
}

.display-icons {
  display: flex;
  color: rgb(117, 117, 117);
  justify-content: space-between;
  gap: 20px;
}

.display-icons span,
.order-by p {
  padding: 4px;
  height: 35px;
}

.order-by {
  display: flex;
  gap: 5px;
  font-size: 14px;
}

.order-by p {
  color: #000;
}

.display-icons span:hover,
.order-by:hover {
  color: var(--main);
}

.display-icons span:hover {
  background-color: var(--hover);
}

.order-by span:hover {
  background-color: #fff;
}

.main-content {
  margin-top: 1em;
  font-size: 20px
}

.main-content span {
  font-weight: 500;
  font-size: 24px
}

.selected-city {
  border: 1px solid var(--main);
  border-radius: 24px;
  width: fit-content;
  padding: 6px 12px;
  font-size: 14px;
  color: var(--main);
  display: flex;
  align-items: center;
  margin: 16px 0 25px 0;
}

.selected-city span {
  color: var(--main);
  font-size: 14px;
  padding-left: 10px;
}

.selected-city:hover {
  background-color: #e9f6fc;
}

.result-card {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  border-radius: 8px;
  margin-bottom: 15px;
}


.result-info {
  padding: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}

.result-img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.result-info div span {
  color: black;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: 500;
}

.result-info div span:first-of-type {
  margin-left: 0;
}

.result-info div:nth-child(1) {
  color: var(--gray);
  font-size: 16px;
  font-weight: 400;
}

.result-info div:nth-child(2) {
  font-size: 22px;
  color: black;
}

.pricing-info p:nth-of-type(1) {
  color: black;
  font-size: 22px;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 0;
}

.pricing-info p:nth-of-type(2) {
  margin-bottom: 0;
}

.result-info .span-amenities span {
  color: rgb(163, 162, 162);
  background-color: rgb(230, 230, 230);
  padding: 0 8px;
  border-radius: 14px;
  font-size: 14px;
}

.pricing-info p {
  color: black;
}

.pricing-info p span {
  font-weight: 500;
}

.amenities {
  width: 300px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 4px;
  padding: 16px;
  margin: 1em 0;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-transform: uppercase;
}

.area {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.amenities .mock-input {
  border: 1px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: lowercase;
  width: 120px;
}

.area-label {
  display: flex;
  flex-direction: row;
}

.amenities .quantity span {
  border: 1px solid rgb(214, 214, 214);
}

.quantity span:hover {
  background-color: rgb(224, 224, 224);
}

.error-wrapper {
  margin-top: 100px;
}

.error-msg,
.error-status {
  font-size: 24px;
  text-align: center;
}

.error-status {
  margin: 5px;
  display: block;
  color: red;
}